<!-- add content, create for QR for new place and existing place -->

<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">

  <title>Rusal Token Receiver</title>
  <!-- <link rel="stylesheet" href="./css/main.css"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div id="app">
    <div class="row">

      <table class="table table table-striped ml-5 mt-15">

      <h2> "       LIMS</h2> 
        <th>Token Create</th>
        <!-- <th>RailWayBill Receiver</th> -->
        <th>Chemcom per Unit</th>
        <tr>
          <td><button type="button" class="btn btn-outline-primary" v-on:click="createtoken">Create</button></td>
          <!-- <td><button type="button" class="btn btn-outline-primary" v-on:click="receive_rwb_info">RailWayBill</button></td> -->
          <td><button type="button" class="btn btn-outline-primary" v-on:click="receive_chemcom_per_unit">Chemcom per Unit</button></td>
        </tr>
      </table>
      
      <table class="table table table-striped ml-5 mt-15">
        <th>user login</th>
        <th>password</th>
        <th>Token</th>

        
        <tr>
          <td><input type="text" v-model="login"></td>
          <td><input type="text" v-model="password"></td>
          <td><input type="text" v-model="token"></td>

        </tr>
      </table>

      <table class="table table table-striped ml-5 mt-15">
        <th>BL</th>
        <tr>
          <td><input type="text" v-model="wagonuni"></td>
        </tr>
      </table>

      <table class="table table table-striped ml-5 mt-15">
        <th>B/L Number</th>
        <tr v-for="each_wagonuni in wagonuni_numbers">
          <td><input type="checkbox" id= "select_wagonuni" v-model="select_wagonuni">{{each_wagonuni}}</td>
        </tr>
      </table>

      <table class="table table table-striped ml-5 mt-15">
        <h2>"       Chemical composition</h2>

        <th>Production Id Number</th>
        <th>NKKK Temp</th>
        <th>Si</th>
        <th>Fe</th>
        <th>Mg</th>

        <tr v-for="each_chemcom in chemcom">
          <td>{{each_chemcom.HeatNumber}}</td>
          <td>{{92230}}</td>
          <span v-bind:style="alartMarkinSi"><td>{{each_chemcom.SI}}</td></span>

          <td>{{each_chemcom.FE}}</td>
          <td>{{each_chemcom.MG}}</td>
        </tr>

          <!-- <td><input type="checkbox" id= "select_wagonuni" v-model="select_wagonuni">{{each_wagonuni}}</td> -->

      </table>
      <!-- <table class="table table table-striped ml-5 mt-15">

          <eachwagonunit>
            <tr is=eachwagonunit v-for="each_wagonuni in wagonuni_numbers" v-bind:arg="each_wagonuni"></tr>
          </eachwagonunit>


      </table> -->

    <!-- <pre>{{$data.data_per_HeatNumber}}</pre> -->
    <pre>{{$data.wagonuni_numbers}}</pre>
    
  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src=" ./js/token_receiver.js"> </script>

</body>

</html>
